
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                <section>
                    <h2>Популярные  услуги</h2>
                    <ul class="divided">
                        <li><a href="#">Сопровождение строительства и реконструкции</a></li>
                        <li><a href="#">Топографическая съемка</a></li>
                        <li><a href="#">Кадастровые работы</a></li>
                        <li><a href="#">Геодезическая основа</a></li>
                        <li><a href="#">Документальное сопровождение строительства</a></li>
                        <li><a href="#">Контроль выполненных работ и дефектовка</a></li>
                        
                    </ul>
                </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                <section>
                    <h2>У нас можно заказать</h2>
                    <ul class="divided">
                        <li><a href="#">Разовый выезд специалиста</a></li>
                        <li><a href="#">Геодезическое сопровождение на месяц и более со своим оборудованием</a></li>
                        <li><a href="#">Мониторинг деформаций</a></li>
                     </ul>
                </section>

                <!-- Links -->
                <section>
                    <h2>Дополнительные услуги</h2>
                    <ul class="divided">
                        <li><a href="#">Контрольно-исполнительная документации</a></li>
                        <li><a href="#">Составление Смет и КС2</a></li>
                        <li><a href="#">Подписание документации у заказчика</a></li>
                        <li><a href="#">Подготовка и сдача объекта</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-6 col-12-medium imp-medium">

                <!-- About -->
                <section>
                    <h2><strong>@Config.CompaniName</strong> </h2>
                    <p>
                        ООО <strong>@Config.CompaniName</strong>,
                        Геодезические работы и документальное сопровождение строительства 
                    </p>
                    <a href="#" class="button alt icon solid fa-arrow-circle-right">Узнать больше</a>
                </section>

                <!-- Contact -->
                <section>
                    <h2>Мы в соцсетях</h2>
                    <div>
                        <div class="row">
                            <div class="col-6 col-12-small">
                                <dl class="contact">
                                    <dt>Twitter</dt>
                                    <dd><a href="#">untitled-corp</a></dd>
                                    <dt>Facebook</dt>
                                    <dd><a href="#">facebook.com/untitled</a></dd>
                                    <dt>WWW</dt>
                                    <dd><a href="#">untitled.tld</a></dd>
                                    <dt>Email</dt>
                                    <dd><a href="#">user@untitled.tld</a></dd>
                                </dl>
                            </div>
                            <div class="col-6 col-12-small">
                                <dl class="contact">
                                    <dt>@Config.CompanyEmayl</dt>
                                    <dd>
                                        Ленинградская область<br />
                                        Лемболово<br />
                                        
                                    </dd>
                                    <dt>@Config.CompanyshotPhon</dt>
                                    <dd>@Config.CompaniPhone</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>@Config.CompaniName  Все прова защищены</li>
                        <li>Design: <a href="#">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>